.mainWrapper {
    max-width: 1340px;
    margin: 71px auto 32px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrapper {
    width: 485px;
}

.rights {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #003366;
    text-align: center;
}

.footerMenu {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    width: 485px;
}

.menuItem {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #343434;
    padding: 12px 14px;
    cursor: pointer;
}